<main class="main">
  <div class="container gutter-top">
    <div class="row sticky-parent">
      <aside class="col-12 col-md-12 col-xl-3">
        <app-profile-details></app-profile-details>
      </aside>

      <div class="col-12 col-md-12 col-xl-9">
        <div class="box shadow pb-0">
          <div id="swupMenu" data-swup="1">
            <div class="circle-menu">
              <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>
            <div class="inner-menu js-menu">
              <ul id="menu-main-menu" class="nav" style="width: 0%;">
                <li id="menu-item-117"
                  class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-39 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children dropdown nav__item"
                  style="opacity: 0; transform: translateX(70px);"><a class="" href="./index.html"><span
                      class="animated-button"><span>Home</span></span></a>
                </li>
                <li id="menu-item-116" class=" menu-item menu-item-type-post_type menu-item-object-page nav__item"
                  style="opacity: 0; transform: translateX(70px);"><a class="" href="./resume.html"><span
                      class="animated-button"><span>Resume</span></span></a></li>


                <li id="menu-item-115" class=" menu-item menu-item-type-post_type menu-item-object-page nav__item"
                  style="opacity: 0; transform: translateX(70px);"><a class="" href="./contact.html"><span
                      class="animated-button"><span>Contacts</span></span></a></li>
              </ul>
            </div>
          </div>
          <div class="page-wrap">
            <div class="transition-fade" id="swup" data-swup="0">
              <div id="post-39" class="post-39 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="39" class="elementor elementor-39"
                  data-elementor-settings="[]">
                  <div class="elementor-section-wrap">
                    <section
                      class="elementor-section elementor-top-section elementor-element elementor-element-55a2894 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                      data-id="55a2894" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-no">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a0b559d"
                          data-id="a0b559d" data-element_type="column">
                          <div class="elementor-widget-wrap elementor-element-populated">
                            <div
                              class="elementor-element elementor-element-9d8e3cd elementor-widget elementor-widget-vcard-about-me"
                              data-id="9d8e3cd" data-element_type="widget" data-widget_type="vcard-about-me.default">
                              <div class="elementor-widget-container">
                                <div class="pb-0 pb-sm-2 section">
                                  <h2 class="title title--h title--h2 first-title title__separate">
                                    <span> About Me </span>
                                  </h2>
                                  <div class="single-post-text">
                                    <div>
                                      <p>I'm Creative Director and UI/UX
                                        Designer from Sydney, Australia,
                                        working in web development and print
                                        media. I enjoy turning complex
                                        problems into simple, beautiful and
                                        intuitive designs.</p>
                                      <p>My job is to build your website so
                                        that it is functional and
                                        user-friendly but at the same time
                                        attractive. Moreover, I add personal
                                        touch to your product and make sure
                                        that is eye-catching and easy to
                                        use. My aim is to bring across your
                                        message and identity in the most
                                        creative way. I created web design
                                        for many famous brand companies.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section
                      class="elementor-section elementor-top-section elementor-element elementor-element-a3baa10 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                      data-id="a3baa10" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-no">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0a35826"
                          data-id="0a35826" data-element_type="column">
                          <div class="elementor-widget-wrap elementor-element-populated">
                            <div
                              class="elementor-element elementor-element-9108147 elementor-widget elementor-widget-vcard-services"
                              data-id="9108147" data-element_type="widget" data-widget_type="vcard-services.default">
                              <div class="elementor-widget-container">
                                <div class="box-inner pb-0 section">
                                  <h2 class="title title--h title--h3"> <span>
                                      What I'm Doing </span></h2>
                                  <div class="row">
                                    <div class="col-12 col-lg-6">
                                      <div class="case-item box box__second">
                                        <img class="case-item__icon"
                                          src="https://bslthemes.site/vcard/wp-content/uploads/2021/07/icon-design.png"
                                          alt="">
                                        <div>
                                          <h3 class="title title--h5">
                                            <span> Web Design </span>
                                          </h3>
                                          <p class="case-item__caption">
                                            <span> The most modern and
                                              high-quality design made
                                              at a professional level.
                                            </span>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                      <div class="case-item box box__second">
                                        <img class="case-item__icon"
                                          src="https://bslthemes.site/vcard/wp-content/uploads/2021/07/icon-dev.png"
                                          alt="">
                                        <div>
                                          <h3 class="title title--h5">
                                            <span> Web Development
                                            </span>
                                          </h3>
                                          <p class="case-item__caption">
                                            <span> High-quality and
                                              professional development
                                              of sites at the
                                              professional level.
                                            </span>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                      <div class="case-item box box__second">
                                        <img class="case-item__icon"
                                          src="https://bslthemes.site/vcard/wp-content/uploads/2021/07/icon-app.png"
                                          alt="">
                                        <div>
                                          <h3 class="title title--h5">
                                            <span> Mobile Apps </span>
                                          </h3>
                                          <p class="case-item__caption">
                                            <span> Professional
                                              development of
                                              applications for iOS and
                                              Android. </span>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                      <div class="case-item box box__second">
                                        <img class="case-item__icon"
                                          src="https://bslthemes.site/vcard/wp-content/uploads/2021/07/icon-photo.png"
                                          alt="">
                                        <div>
                                          <h3 class="title title--h5">
                                            <span> Photography </span>
                                          </h3>
                                          <p class="case-item__caption">
                                            <span> I make high-quality
                                              photos of any category
                                              at a professional level.
                                            </span>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <!--<section
                                          class="elementor-section elementor-top-section elementor-element elementor-element-ccdfdc5 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                          data-id="ccdfdc5" data-element_type="section">
                                          <div class="elementor-container elementor-column-gap-no">
                                              <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b3bae1f"
                                                  data-id="b3bae1f" data-element_type="column">
                                                  <div class="elementor-widget-wrap elementor-element-populated">
                                                      <div class="elementor-element elementor-element-c26c817 elementor-widget elementor-widget-vcard-pricing"
                                                          data-id="c26c817" data-element_type="widget"
                                                          data-widget_type="vcard-pricing.default">
                                                          <div class="elementor-widget-container">
                                                              <div class="box-inner box-inner--white section">
                                                                  <h2 class="title title--h title--h3"> <span>
                                                                          Pricing plans </span></h2>
                                                                  <div class="pricing-items">
                                                                      <div class="pricing-col">
                                                                          <div class="pricing-item content-box">
                                                                              <div class="icon"><i
                                                                                      class="fa fa-battery-1"></i>
                                                                              </div>
                                                                              <div class="name"> <span> Basic
                                                                                      Package </span></div>
                                                                              <div class="amount"> <span
                                                                                      class="number"> <span
                                                                                          class="dollar"> <span> $
                                                                                          </span> </span> <span>
                                                                                          39 </span> <span
                                                                                          class="period"> <span>
                                                                                              hour </span> </span>
                                                                                  </span></div>
                                                                              <div class="feature-list">
                                                                                  <div>
                                                                                      <ul>
                                                                                          <li>Web Design</li>
                                                                                          <li>Mobile Apps</li>
                                                                                          <li><em>Web
                                                                                                  Development</em>
                                                                                          </li>
                                                                                          <li><em>Photography</em>
                                                                                          </li>
                                                                                      </ul>
                                                                                  </div>
                                                                              </div>
                                                                              <div class="bts"> <a
                                                                                      href="/vcard/contacts/"
                                                                                      class="btn hover-animated">
                                                                                      <span class="circle"></span>
                                                                                      <span> <span class="lnk">Get
                                                                                              Started</span>
                                                                                      </span> </a></div>
                                                                          </div>
                                                                      </div>
                                                                      <div class="pricing-col">
                                                                          <div class="pricing-item content-box">
                                                                              <div class="icon"><i
                                                                                      class="fa fa-battery-2"></i>
                                                                              </div>
                                                                              <div class="name"> <span> Pro
                                                                                      Package </span></div>
                                                                              <div class="amount"> <span
                                                                                      class="number"> <span
                                                                                          class="dollar"> <span> $
                                                                                          </span> </span> <span>
                                                                                          59 </span> <span
                                                                                          class="period"> <span>
                                                                                              hour </span> </span>
                                                                                  </span></div>
                                                                              <div class="feature-list">
                                                                                  <div>
                                                                                      <ul>
                                                                                          <li>Web Design</li>
                                                                                          <li>Mobile Apps</li>
                                                                                          <li>Web Development</li>
                                                                                          <li><em>Photography</em>
                                                                                          </li>
                                                                                      </ul>
                                                                                  </div>
                                                                              </div>
                                                                              <div class="bts"> <a
                                                                                      href="/vcard/contacts/"
                                                                                      class="btn hover-animated">
                                                                                      <span class="circle"></span>
                                                                                      <span> <span class="lnk">Get
                                                                                              Started</span>
                                                                                      </span> </a></div>
                                                                          </div>
                                                                      </div>
                                                                      <div class="pricing-col">
                                                                          <div class="pricing-item content-box">
                                                                              <div class="icon"><i
                                                                                      class="fa fa-battery-4"></i>
                                                                              </div>
                                                                              <div class="name"> <span> Premium
                                                                                      Package </span></div>
                                                                              <div class="amount"> <span
                                                                                      class="number"> <span
                                                                                          class="dollar"> <span> $
                                                                                          </span> </span> <span>
                                                                                          99 </span> <span
                                                                                          class="period"> <span>
                                                                                              hour </span> </span>
                                                                                  </span></div>
                                                                              <div class="feature-list">
                                                                                  <div>
                                                                                      <ul>
                                                                                          <li>Web Design</li>
                                                                                          <li>Mobile Apps</li>
                                                                                          <li>Web Development</li>
                                                                                          <li>Photography</li>
                                                                                      </ul>
                                                                                  </div>
                                                                              </div>
                                                                              <div class="bts"> <a
                                                                                      href="/vcard/contacts/"
                                                                                      class="btn hover-animated">
                                                                                      <span class="circle"></span>
                                                                                      <span> <span class="lnk">Get
                                                                                              Started</span>
                                                                                      </span> </a></div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </section>-->
                  </div>
                </div>
              </div>
            </div>
            <footer class="footer">© 2021 All Rights Reserved.</footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

